
/* custom properties */
:root{
    --amex-blue: #006fcf;
    --dark-grey: #333;
    --light-grey: rgb(230, 230, 230);
    --font-family: Helvetica Neue,Helvetica,sans-serif;
    --font-size-md: 1.5rem;
    --font-size-lg: 2.5rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    font-family: var(--font-family);
    line-height: 1.375rem;
}

/* Header */
.header{
    font-size: var(--font-size-md);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--light-grey);
}
.nav{
    display:flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: var(--amex-blue)
}
.nav-links{
    display: inline-flex;
    align-items: center;
    gap: 2rem;
}
.nav-buttons{
    display:  inline-flex;
    align-items: center;
    gap: 2rem;
}
.log-in-btn{
    padding: 1rem 1.5rem;
    color: white;
    background-color: var(--amex-blue);
}
.search-icon{
    color: var(--amex-blue);
}

